/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/****************************************
*
*/
.container {
    max-width: 500px;
    padding: 10px;
    padding-top: 0;
    margin: auto;
}

header {
    top: 0;
    left: 0;
    right: inherit;
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    justify-content: center;
}

.nav-bar {
    display: flex;
    flex-direction: column-reverse;
}

.nav-bar nav {
    width: 100%;
    display: flex;
    padding: 10px 10px;
    flex-direction: column;
}

.nav-bar nav a {
    padding: 16px;
    text-decoration: none;
    color: gray;
    font-size: 20px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
}

.nav-bar nav a:first-child {
    border-top: 1px solid black;
}

nav a:hover {
    color: black;
    font-weight: bolder;
}

.section1 {
    width: 100%;
    padding-bottom: 40px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1 img {
    display: none;
}

button {
    height: 30px;
    padding: 0px 40px;
    margin: 10px auto;
    background-color: gray;
    border: 1px black solid;
    border-radius: 10px;
    font-weight: bold;
    color: white;
}

button:hover {
    background-color: white;
    color: black;
    font-weight: bold;
}

.section1 .slogan {
    font-size: 100px;
}

.section1 h1 {
    font-size: 75px;
    padding: 0;
}

.section2 {
    padding: 20px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    border-top: 1px solid black;
}

.section2 p {
    max-width: 94%;
}

.section2 p {
    padding-bottom: 20px;
}

.image1 {
    width: 100%;
    margin: auto;
}

.section3 {
    padding: 20px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    border-bottom: 1px solid black;
}

.section3 p {
    max-width: 98%;
    padding-bottom: 30px;
}

.middle-img {
    width: 100%;
    margin: auto;
    align-items: center;
}

.contact {
    padding-top: 40px;
    width: 100%;
    margin: auto;

}

.contact a {
    color: black;
    text-decoration: none;
}

.contact a:hover,
.contact a:active {
    color: blue;
}

footer {
    margin: auto;
    margin-top: 50px;
}

footer p {
    text-align: center;
}

.services-header-img {
    width: 100%;
    margin: auto;
}

#container {
    margin: auto;
    padding-bottom: 20px;
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

.about {
    margin-top: 40px;

}

.container h1 {
    font-size: 30px;
}

.services-top {
    margin: auto;
    margin: 40px 0;
    padding-bottom: 40px;
    width: 100%;
    border-bottom: 2px solid black;
}

.services {
    height: auto;
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid black;
    font-size: 18px;
    justify-content: space-around;
    align-content: space-around;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.services p {
    padding-bottom: 10px;
}

.services button {
    padding-top: 5px;
    margin: 0;
}

.service-facts {
    align-items: flex-start;
    padding-top: 50px;
    width: 100%;
    display: flex;
    border-top: 2px solid black;
    margin: auto;
    justify-content: flex-start;

}

.service-facts p {
    width: 100%;
    margin-bottom: 30px;
}

.service-facts ul {
    list-style-type: square;
    line-height: 30px;
    margin-left: 20px;
}

.service-facts img {
    display: none;
}

@media (min-width: 800px) {

    .container {
        max-width: 800px;
    }

    .nav-bar {
        max-width: 100%;
    }

    .nav-bar nav {
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
    }

    .nav-bar nav a {
        border: none;
    }

    .nav-bar nav a:first-child {
        border: none;
    }

    .section1 {
        justify-content: center;
    }

    .middle-img {
        width: 100%;
    }

    .services {
        width: 48%
    }

    .service-facts p {
        width: 90%;
    }

    .service-facts img {
        display: inline-block;
        max-width: 50%
    }


    @media (min-width: 1000px) {

        .container {
            max-width: 1000px;
        }

        .nav-bar {
            flex-direction: row;
        }

        .section1 img {
            display: inline-block;
        }

        .section2 {
            flex-direction: row;
        }

        .section3 {
            flex-direction: row;
        }
    }
